<div class="jumbotron text-center">
  <h1>MEAN AUTHENTICATION APP <i>(Backend & Frontend)</i></h1>
  <p class="lead">Welcome to my custom MEAN Authentication App built from scratch <i>(Backend & Frontend)</i></p>
  <div>
    <a class="btn btn-primary" routerLink="/register">Register</a>
    <a class="btn btn-default" routerLink="/login">Login</a>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js / Express Server using Mongoose to organize Models and Query the Database</p>
  </div>

  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate Components, Services and more. Local Dev Server and easy Compilation</p>
  </div>

  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON Web Tokens. Login and Store User Data</p>
  </div>

</div>
